.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.picker .input {
  display: none;
}

.picker .button {
  border: 0;
  padding: 0.65rem 1.75rem;
  background: #a4abb9;
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  box-shadow: 0 4px 14px rgb(132, 137, 147);
}

.picker .button:hover,
.picker .button:focus {
  background: #b3b9c6;
  box-shadow: 0 6px 20px rgb(132, 137, 149);
}


.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.preview img {
  object-fit: cover;
}